body {
    margin: 0;
    max-width:1024px;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    text-align:center;
}
.imagen-logo{
    width: 160px;
    height: 100px;
}
.menu{
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    width: 100%;
    height:50px;
}

.menu li{
    display:inline-block;
   color: grey;
   font-family:arial;
   padding: 15px 10px 5px 10px;
}
#opcion-1{
    color:black;
    border-bottom: 3px solid orange;
    font-weight: 800;
    height:59%;
}
#opcion-7{
    color:white;
    background:orange;
    font-weight: 300;
    border-radius:3px;
    height: 54%;
}
.contenido{
    width: 100%;
}
.contenido article{
    display:inline-block;
    vertical-align:top;
}
.texto{
    width: 50%;
    text-align:center;
}
.titulo{
    text-align: center;
    font-family:calibri;
    font-size:35px;
    font-weight:500;
    padding-top:15px;
    padding-bottom: 5px;
    margin: 0 auto;
}
.subtitulo{
    text-align: center;
    padding-top:15px;
    font-size:20px;
    font-family: calibri;
    margin: 0 auto;
    font-weight:400;
}
.negritas{
    font-family: calibri;
    text-align: center;
    padding-top:5px;
    font-weight:800;
    font-size:20px;
    margin: 0 auto;
}
.contenido{
    text-align: center;
 font-family: 'Times New Roman', Times, serif;
 padding-left:10px;
}
.autor{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.more{
    text-align: center;
    color:rgb(162, 216, 235);
    padding-top: 10px;
}
#signo2{
    padding-left:5px;
}
.imagen{
    width:48%;
}
.libro{
    width:90%;
    height: 90%;
}
.promocion{
    width: 100%;
    margin-top: 20px;
}
.orden{
    text-align:center;
}
.order-book{
    font-size:28px;
    margin:0 auto;
    padding:0 auto;
}
.genuine{
    font-size:14px;
    color:grey;
    margin:5px 0 0 0;
    font-family: sans-serif;
}
.pie div {
    display:inline-block;
    vertical-align:top;
    width: 20%;
    text-align:center;
}
.pie{
    margin-top:30px;
}

.boton{
    width: 20%;
}
.img{
    width: 60%;
    height: 100%;
}
#amazon{
    background: white;
    border:1px solid orange;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 16px;
    padding: 5px 6px 6px;
    width: 100px;
    height: 40px;
    margin-top:none;
    margin: 20px 30px 10px 10px;
}
.img-pie{
    margin: 10px 20px 10px 30px;
}
#img-2{
    margin-top:30px;
}