/*Position*/
/*
Flujo HTML: Es el orden en que aparecen los
elementos en el documento.
Espacio: Es el espacio que ocupa el elemento en el documento,
lo reserva el navegador
*/
.clase1{
 /* visibility: hidden;Elemento reserva su espacio*/
    display: none /*El espacio no se reserva*/
}

/*RELATIVE*/
.contenedor1,.contenedor2{
width: 100px;
height: 100px;
margin: 20px;

}

.contenedor1{
    background: lightgreen;
    position:relative;
    /*Top rigth botton left z-index*/
    /*Top y left tienen mayor preferencia*/
    top:100px;
    right: 30000px;/*Se mueven a la inversa*/
    left: 50px;
    bottom: 1000px;
    z-index:10;
}
.contenedor2{
    background: blue;
    position:relative;
    z-index:20;
}
/*ABSOLUTE*/
.contenedor{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    position: relative;
}
/*Seleccionar los elementos que tienen 
ese atributo y empiecen por ese
valor*/
[class^="caja"]{
    width: 40px;
    height: 40px;
}
.caja1{
    border: 3px solid red;
    position:absolute; /*No conserva su espacio*/
    top: 0;
    left: 0;
}
.caja2{
    border: 3px solid blue;
    position:absolute;
    top:0;
    right: 0;
}
.caja3{
    border: 3px solid orange;
    position:absolute;
    bottom:0;
    left: 0;
}
.caja4{
    border: 3px solid purple;
    position:absolute;
    bottom:0;
    right: 0;
}
.caja5{
    border: 3px solid lightpink;
position:absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
margin:auto;
z-index:0;
}
/*Fixed*/
body{
    margin:o auto;
    padding-top:40px;
}
.menu{
    background: blue;
    color:floralwhite;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    /*position:fixed;  Para que el menú se quede fijo
    width: 100%;
    top:0;*/
    position:sticky;
    top:0px; /*A partir de esta posicion se quede fijo*/
}
.titulo{
    margin:0;
}
/*Stiky*/
.banner{
    height:100px;
    background:darkgray;
    font-size:30px;
    text-align: center;
    line-height:100px;
}
/*Propiedad Display
inline
block
inline-block
none
*/
.linea{
    /*display:block; Actua como bloque*/
    background: lightcoral;
    padding-bottom: 40px;
   /* display:inline-block; Se comporta como inline pero con algunas caracteristicas del block*/
   display:none;/*Gasta recursos solo que no se ve*/
   

}
.bloque{
    /*display:inline; Actua como linea*/
    background: yellow;
}
